.container {
  max-width: 1280px;
  margin: auto;
  background: hsl(0, 0%, 95%);
  width: 100%;
}

.main {
  padding: 0 20px;
  flex: 1;
}

@media (max-width: 660px) {
  .main {
    padding: 0 10px;
  }
}


/*.contentInset {
  padding: 0 20px;
}*/

/*@media (max-width: 660px) {
  .contentInset {
    padding: 0 10px;
  }
}
*/
